In [1]:
import pandas as pd
from file_processor import *

In [3]:
rate_area_df = pd.read_csv(ZIP_FILE, dtype={ZIP_CODE: 'str', RATE_AREA: 'str', COUNTY_CODE: 'str'})

### Look up up zip code and then manually put rate area in silver df lookup below to visually check answers

In [20]:
rate_area_df[rate_area_df[ZIP_CODE] == '64148']

      zipcode state county_code     name rate_area
24911   64148    MO       29095  Jackson         3

In [15]:
plan_df = pd.read_csv(PLAN_FILE, dtype={RATE_AREA: 'str'})
plan_df[RATE_AREA_NAME] = get_rate_area_name(plan_df)
silver_df = plan_df.loc[plan_df[METAL_LEVEL] == SILVER_IDENTIFIER].copy()

In [21]:
silver_df[silver_df[RATE_AREA_NAME] == 'MO-3'].sort_values(by='rate')

              plan_id state metal_level    rate rate_area rate_area_name
975    35866RG6997149    MO      Silver  234.60         3           MO-3
13899  02345TB1383341    MO      Silver  245.20         3           MO-3
3727   53546TY7687603    MO      Silver  251.08         3           MO-3
16245  57237RP9645446    MO      Silver  253.65         3           MO-3
14123  40205HK1927400    MO      Silver  265.25         3           MO-3
1396   28850TB6621800    MO      Silver  265.82         3           MO-3
18915  43868JA2737085    MO      Silver  271.64         3           MO-3
424    78421VV7272023    MO      Silver  290.05         3           MO-3
19085  44945VH6426537    MO      Silver  298.87         3           MO-3
13352  03665WJ8941702    MO      Silver  312.06         3           MO-3
18034  64618UJ3132146    MO      Silver  319.57         3           MO-3
22209  39063JC7040427    MO      Silver  341.24         3           MO-3
10033  26631YR3384683    MO      Silver  351.60         3           MO-3